body {
	font-family: sans-serif;
}

div.container {
    width: 100%;
}

.flex-container {
  display: flex;
}

div.audio_controls {
	border:2px solid #a1a1a1;
	border-radius:20px;
	padding:0.8em;
}

section.net_statistics {
	margin-top: 1em;
	padding: 1em;
	border: 1px solid gray;
}

#room_name {
	font-size: 120%;
	font-weight: bold;
}

header, footer {
    padding: 1em;
    color: Black;
    background-color: white;
    clear: left;
    text-align: center;
}
